.containerLinha {
    display: flex;
}

.quadrado {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.preto {
    background-color: black;
}

.branco {
    background-color: white;
}