.porta {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    padding: 15px;
    align-items: center;

    /* temp */
    width: 200px;
    height: 310px;

}

.numero {
    font-size: 3rem;
}