.porta {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    padding: 15px;
    align-items: center;

    /* temp */
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
}

.numero {
    font-size: 3rem;
}